<div id="video">Loading the player...</div>

<script type="text/javascript">
  $(document).ready(function(){    
    jwplayer("video").setup({
//        file: "/videos/primary/primary.mp4",
//        image: "/videos/thumbnails/thumb.jpg",
//        title:"test1",
      file: "<%= @video.primary_located_at %>",
      image: "<%= @video.thumbnail_located_at %>",
      title:"<%= @video.name %>",
      width:"100%",
      aspectratio:"3:2"
    });
  })
  </script> 
