<div id="video">Loading the player...</div>

<script type="text/javascript">
jwplayer.key="<%= API_KEYS['JW_PLAYER_KEY'].to_s %>"
  $(document).ready(function(){    
    jwplayer("video").setup({
      file: "<%= @video.primary_video.url %>",
      image: "<%= @video.thumbnail.url %>",
      title:"<%= @video.name %>",
      width:"100%",
      aspectratio:"3:2"
    });
  })
  </script> 
